.title-header {
  display: block;
  color: white;
  margin: auto 0;
}

.title-header__main {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.title-heaer__extra {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}
